/* Background για όλη τη σελίδα */
body {
    background-color: #5a189a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Στυλ για το container του login form */
.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Background του login form */
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* για το λογότυπο */
.logo {
    display: block;
    margin: 20px auto;
    max-width: 200px;
    margin-bottom: 20px;
}

/* Στυλ για τα κουμπιά login και register */
button[type="submit"], .register-button {
    background-color: #7c28c1; /* Bright purple */
    border: 1px solid #ce9eff; /* Light lavender border */
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 18px;
    color: #e9d5ff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
    width: 90%; /* Το κουμπί παίρνει το 100% του πλάτους του container */
    margin-top: 10px; /* Απόσταση μεταξύ των κουμπιών */
}

/* Hover effect για τα κουμπιά */
button[type="submit"]:hover, .register-button:hover {
    background-color: #5a189a; 
    border: 1px solid #ce9eff; 
    border-radius: 6px; 
}

/*  πεδία εισαγωγής */
input[type="text"], input[type="password"] {
    width: 90%; /* Τα πεδία εισαγωγής να παίρνουν όλο το πλάτος του container */
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    display: block;
}

/* μήνυμα λάθους στο login */
.error-message {
    color: red;
    display: none;
    font-size: 12px;
    margin-top: 5px;
    text-transform: uppercase; /* Κεφαλαία */
}

/* Κείμενο και κουμπί για εναλλαγή μεταξύ login και register */
.toggle-form {
    color: black;
    cursor: pointer;
    margin-top: 30px;
    font-size: 15px;
}

.toggle-form strong {
    font-weight: bold;
}

/* Στυλ για το "Remember Me" */
.remember-me {
    margin: 10px 50px; /* Απόσταση πάνω και κάτω */
    display: flex;
    align-items: center;
}

.remember-me input[type="checkbox"] {
    margin-right: 5px; /* Απόσταση από το label */
}

/* For the flash modal */
@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#flashMessage {
    font-size: 18px;
    font-weight: bold;
    color: #4a007e;  /* Green color for success message */
    margin-top: 10px;
}

#flashModal {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
