<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackventory</title>
    <link rel="stylesheet" href="../static/css/entrance.css">
</head>
<body>
    <div class="login-container">
        <!-- Logo Image -->
        <img src="../static/images/logo.jpg" alt="Trackventory Logo" class="logo">

        <!-- Register Form -->
        <div id="register-form">
            <form id="register-form-element" action="/register" method="post">
                <label for="username"></label>
                <input type="text" id="username" name="username" placeholder="Enter a username" required>

                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Enter a password" required>

                <label for="password_confirmation"></label>
                <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Repeat your password" required>

                <!-- Register Button -->
                <button type="submit">Register</button>
            </form>

            <!-- Login Link -->
            <p id="switch-login" class="toggle-form">
                Already have an account? <a href="/login"><strong>Log In</strong></a>
            </p>
        </div>
    </div>
</body>
</html>
